{% extends 'base.html' %}
{% block title %}Статья{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.text }}</p>
    <p><b>By <a href="{% url "user_detail" article.author.pk %}">{{ article.author }}</a></b></p>
    <a href="{% url "article_update" article.pk %}">Редактировать статью</a>
    <a href="{% url "comment_create" %}">Добавить комментарий</a>
    <hr>
    <h2>Комментарии:</h2>
    <ul>
        {% for comment in article.root_comments %}
            {% include "comment.html" %}
        {% endfor %}
    </ul>
    <h2>Оценки:</h2>
    {% include "rating.html" %}

{% endblock %}