{% extends 'base.html' %}
{% block title %}Проекты{% endblock %}
{% block content %}
    <div class="mt-3">
        <form action="{% url 'user_list' %}" method="GET">
            {% csrf_token %}
            {{ form.user_name.label }}: {{ form.user_name }}
            <button type="submit" class="btn btn-primary">Искать</button>
        </form>
    </div>

    {% for user in user_list %}
        <h2 class="d-inline-block"><a href="{% url 'user_detail' user.pk %}">{{ user.name }}</a></h2>
        <a href="{% url 'user_favorites' user.pk %}"><i class="fa fa-star fa-2x" aria-hidden="true"></i></a>
        <hr>
    {% endfor %}
{% endblock %}